/* css

/* Replace margin and padding */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set the size of the map */
  #map,
  body,
  html {
    height: 75%;
  }
  
  /* Set the style of the legend */
  .info {
    padding: 5% 10%;
    background: #e5e9e8;
    border-radius: 10%;
  }
  
 